<title>ExeGuesser</title>

<script>

    let stopTimer;
    let timeLeft = 120;

    //function performed when the start game button is pressed. Creates a timer and  sets the photo.
    function startGame() {
        document.getElementById("photo").src = "exeterSign.jpg";
        document.getElementById("photo").style.margin = "30px 10px 10px 10px"
        stopTimer = setInterval(timer, 1000);
        document.getElementById('timerLabel').innerHTML = 'Time Left: ';
        function timer() {
            document.getElementById("timer").innerHTML = timeLeft -= 1;
            if (timeLeft <= 30) {
                document.getElementById("timer").style.color = "red";
            }
            if (timeLeft <= 0) {
                alert("Times Up! Try again")
                clearInterval(stopTimer);
            }
        }
    }

    //stop the timer running and ping an alert with the win message.
    function stopGame() {
        clearInterval(stopTimer);
        let timeTaken = 120 - timeLeft;
        alert(`Congratulations of have found the location in ${timeTaken} seconds!"`)
    }

</script>
<div align="right">
    <p>{{user.username}}</p>
    <a href={% url 'logout' %}>
    <button class="button1" type="submit">Logout</button>
    </a>
    <a href={% url 'home' %}>
    <button class="button2" type="submit">Home</button>
    </a>
</div>

<div align="center">
    <button class="button3" onclick="startGame()">Start Game</button><br />
    <img src="" id="photo" />
    <h1 id="timerLabel"> </h1>
    <p id="timer" style="font-size:24px"></p>

    <button class="button4" onclick="stopGame()">Found it!</button>
</div>
<style type="text/css">
          
          
          
    /* CSS */
    .button1, .button2, .button3, .button4{
      appearance: none;
      background-color: #2ea44f;
      border: 1px solid rgba(27, 31, 35, .15);
      border-radius: 6px;
      box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      padding: 6px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
    }
    
    .button1, .button2, .button3, .button4:focus:not(:focus-visible):not(.focus-visible) {
      box-shadow: none;
      outline: none;
    }
    
    .button1, .button2, .button3, .button4:hover {
      background-color: #2c974b;
    }
    
    .button1, .button2, .button3, .button4:focus {
      box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
      outline: none;
    }
    
    .button1, .button2, .button3, .button4:disabled {
      background-color: #94d3a2;
      border-color: rgba(27, 31, 35, .1);
      color: rgba(255, 255, 255, .8);
      cursor: default;
    }
    
    .button1, .button2, .button3, .button4:active {
      background-color: #298e46;
      box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }
    </style>
